{% extends "base.html" %}
{% block title %} Update {% endblock %}
{% block content %}
<h2>Update Class:</h2>
<form action="/update{{updateDataInput.id}}" method="post">
    Name: <input type="text" name="name" value="{{updateDataInput.Name}}">
    Instructor: <input type="instructor" name="size" value="{{updateDataInput.instructor}}">
    time: <input type="text" name="time" value="{{updateDataInput.time}}">
    days: <input type="text" name="days" value="{{updateDataInput.days}}">
    <input type="submit">
</form>
{% endblock %}