{% extends "base.html" %}
{% block title %} Class {% endblock %}
{% block content %}
<h2>Fitness Class Schedule:</h2>
<br></br>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Instructor</th>
        <th>Time</th>
        <th>Days</th>
    </tr>
    {% for i in dataBase %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.Name }}</td>
            <td>{{ i.Instructor }}</td>
            <td>{{i.Time}}</td>
            <td>{{i.Days}}</td>
            <td><a href="/delete/{{i.id}}">delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
