{% extends "base.html" %}
{% block title %} Members {% endblock %}
{% block content %}

<h2>Tiers:</h2>
<li>Platnium</li>
<li>Gold</li>
<li>Silver</li>
<h2>Members List</h2>

<table>
    <tr>
        <th></th>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    {% for i in dataBase %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.first }}</td>
            <td>{{ i.last }}</td>
        </tr>
    {% endfor %}
</table>

<h2>Membership Details:</h2>
<table>
    <tr>
        <th></th>
        <th>Member_ID</th>
        <th>Price</th>
    </tr>
    {% for i in dataBase %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.price }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}