{% extends "base.html" %}
{% block title %} Snacks {% endblock %}
{% block content %}
<h2>Snack Bar Inventory</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    {% for snack in snacks %}
        <tr>
            <td>{{ snack.snack_name }}</td>
            <td>{{ snack.unit_price }}</td>
            <td>{{ snack.snack_count }}</td>
            <td><a href="/updateSnack">update</a></td>
            <td>
                <form action="/delete_snack" method="POST">
                <input type="hidden" name="member_id" value="{{ Snacks.snack_id }}">
                <button type="submit">Delete</button>
            </td>
        </tr>
    {% endfor %}
</table>

<h2>Add Snack Item:</h2>
<form action="/addsnack" method="post">
    Name: <input type="text" name="name" value="">
    price: <input type="number" step="0.01" name="price" value="">
    quantity: <input type="number" name="count" value="">
    <input type="submit">
</form>
{% endblock %}
