{% extends "base.html" %}
{% block title %} Class {% endblock %}
{% block content %}
<form action="/updateMember" method="post">
    First Name: <input type="text" name="first_name" value="{{first_name}}">
    Last Name: <input type="text"  name="last_name" value="{{last_name}}">
    Tier: <input type="text" name="tier_name" value="{{tier_name}}">
    Price: <input type="number" name="price" value="{{price}}">
    <input type="hidden" name="member_id" value="{{member_id}}">
    <input type="submit">
</form>
{% endblock %}